<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Json Templating Example</title>
</head>

<body>
  <div>
    <h2>schema1.json without templating</h2>
    <pre>@ViewData["jsonString1"]</pre>
    <hr />
  </div>

  <div>
    <h2>schema2.json DotLiquid templating</h2>
    <pre>@ViewData["jsonString2"]</pre>
    <hr />
  </div>

  <div>
    <h2>schema3.json DotLiquid templating</h2>
    <pre>@ViewData["jsonString3"]</pre>
    <hr />
  </div>

</body>

</html>
